
body {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 2vw;
  padding-left: 5vw;
  padding-right: 5vw;
  border-radius: 2vw;
}

form {
  background-color: aqua;
  border-radius: 2vw;
}

label {
  padding-top: 2vw;
}

#characteristics p, img {
  display: block;
  }
#desc {
  color: gray;
}

footer {
background-color: gray;
color: white;
}
footer a {
  margin-top: 0;
  padding: 0;
  color: aqua;
}
